.services_container{
    background-color: #ECECFF;
    padding: 40px 80px;
}
.services_title{
    font-size: 20px;
}
.services_container_head{
    text-align: center;
}
.services_subtitle{
    margin-top: 10px;
}

.service_container_list{
    padding: 50px 0px;
}
.service_card{
    min-width: 280px;
    max-width: auto;
    height: 350px;
    padding: 2px;
    background-color: white;
    border: 1px solid #7337F2;
    border-radius: 5px;
    border-top-left-radius: 30px;
    cursor: pointer;
}
.pt{
    height: 450px;
}
.service_card_header{
    width: 100%;
    height: 60%;
    border-top-left-radius: 30px;
}
.service_card_header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
}
.service_card_body{
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 10px 10px;
}
.service_des span{
    font-size: 12px;
}
.service_title{
    font-weight: bolder;
}
.service_cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.service_cards::-webkit-scrollbar{
    display: none;
}

@media (max-width : 680px) {
    .services_container{
        background-color: #ECECFF;
        padding: 40px 20px;
    }
    .services_subtitle{
        font-size: 15px;
    }
}