.about_section{
    width: 100%;
    height: auto;
    padding: 20px 40px;
}
.about_layout_heading{
    font-size: 20px;
}
.about_section_title{
    text-align: center;
    margin-bottom: 50px;
}
.about_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px 40px;
}
.about_content_head{
    font-weight: 400;
    font-family: "poppins-regular",sans-serif;
}
.about_content_left img{
    width: 400px;
    height: auto;
    object-fit: contain;
}
.flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 100px;
}
.about_layout_subtitle{
    margin-top: 20px;
}

.about_content_head{
    font-size: 20px;
}
.about_content_right p{
    font-size: 17px;
}

@media (max-width : 680px) {
    .about_content_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 0px;
    }
    .about_content_left img{
        width: 300px;
        height: auto;
        object-fit: contain;
    }
    /* .about_layout_heading h2{
        font-size: 20px;
    }
    .about_layout_subtitle{
        font-size: 15px;
    } */
    .about_layout_heading{
        font-size: 15px;
    }
}